$is_lightmode: true;

$main_dark_color: #2c2626;
$main_light_color: #fbf1c6;
$accent_dark_color: #203724;
$accent_light_color: #33df77;
$accent_dark_color2: #3e2861;
$accent_dark_color3: #82313b;

$main_background_color: $main_light_color;
$main_text_color: $main_dark_color;
$main_accent_color: $accent_light_color;
$secondary_accent_color: $accent_dark_color;
$text_stroke_width: 2px;
@if $is_lightmode == false {
    $main_background_color: $main_dark_color;
    $main_text_color: $main_light_color;
    $main_accent_color: $accent_dark_color;
    $secondary_accent_color: $accent_light_color;
}

// @@@@@@@@@@@@@@@@@@
// Global Styles
// @@@@@@@@@@@@@@@@@@
* {
    /* background-color: rgba(255, 255, 255, 0); */
    all: unset;
    font-family: "Ubuntu Sans Mono";
}

box {
    color: $main_text_color;
    background-color: $main_background_color;
}

/* tiny extra bit of progressbar */
progressbar {
    background-color: $main_accent_color;
    border-radius: 5px;
}

/* background color of bar */
progressbar > trough {
    min-width: 45px;
    background-color: $main_accent_color;
    border: 0px;
    border-radius: 5px;
}

/* color of the actual progress */
progress {
    background-color: $main_text_color;
    border: 0px;
    min-width: 45px;
    border-radius: 5px;
}

// @@@@@@@@@@@@@@@@@@
// clock
// @@@@@@@@@@@@@@@@@@
.clock {
    background-color: $main_background_color;
    color: $main_text_color;
    border-radius: 5px;
}

// @@@@@@@@@@@@@@@@@@
// battery
// @@@@@@@@@@@@@@@@@@
.battery {
    color: $main_light_color;
    background-color: rgba(255, 255, 255, 0);
}

// @@@@@@@@@@@@@@@@@@
// vertical bar
// @@@@@@@@@@@@@@@@@@
.bar_itself {
    border-radius: 5px;
}

.bar_contents {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.centerbox {
    background-color: rgba(125, 125, 125, 0);
}

// @@@@@@@@@@@@@@@@@@
// tray
// @@@@@@@@@@@@@@@@@@
.tray {
    background-color: rgba(255, 255, 255, 0);
}

.tray menu {
    background-color: lightblue;
}

// @@@@@@@@@@@@@@@@@@
// currently reading
// @@@@@@@@@@@@@@@@@@
.bookshelf {
    background: linear-gradient(to bottom, rgba($main_background_color, 0.9), rgba($main_background_color, 0.9));
    border: 4px solid $main_background_color; //#5c4033;
    box-shadow: inset 0 0 0 8px $accent_dark_color2;
    padding: 8px;
    border-radius: 8px;
    /* padding: 0px 20px; */
    min-width: 100px;
    font-size: 24px;
}

$title_text_color: $main_background_color;
$title_stroke_color: $main_text_color;
.book_title {
    color: $title_text_color;
    font-size: 16px;
    font-weight: bold;
    text-shadow:
        $text_stroke_width $text_stroke_width 0 $title_stroke_color,
        2px -2px 0 $title_stroke_color,
        -2px 2px 0 $title_stroke_color,
        -2px -2px 0 $title_stroke_color,
        2px 0px 0 $title_stroke_color,
        0px 2px 0 $title_stroke_color,
        -2px 0px 0 $title_stroke_color,
        0px -2px 0 $title_stroke_color;
}

.shelf {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 5px;
    border-bottom: 12px solid $accent_dark_color2;
    box-shadow: inset 0 6px 12px rgba(#5c4033, 0.8);
}

.book_progress_icons {
    background-color: rgba(255, 255, 255, 0);
}

.book_progress_icon {
    opacity: 1;
    margin-right: 10px;
    color: $secondary_accent_color;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 36px;
}

.book_progress_icon.empty {
    color: #566158;
    opacity: 0.5;
}

.title_length_adjuster {
    /* margin-left: -250px; */
    /* opacity: 0; */
}
// @@@@@@@@@@@@@@@@@@
// debug
// @@@@@@@@@@@@@@@@@@
.debug_border {
    /* border: 3px solid lightblue; */
    /* margin: -3px; */
}

.no_background {
    background-color: rgba(255, 255, 255, 0);
}

.no_opacity {
    opacity: 0;
}
