$is_lightmode: true;

$main_dark_color: #2c2626;
$main_light_color: #fbf1c6;
$accent_dark_color: #003720;
$accent_light_color: #33df77;

$main_background_color: $main_light_color;
$main_text_color: $main_dark_color;
$main_accent_color: $accent_light_color;
@if $is_lightmode == false {
    $main_background_color: $main_dark_color;
    $main_text_color: $main_light_color;
    $main_accent_color: $accent_dark_color;
}
* {
    background-color: rgba(255, 255, 255, 0);
}

box {
    color: $main_text_color;
    background-color: $main_background_color;
    font-family: Ubuntu, sans-serif;
}

.centerbox {
    background-color: rgba(125, 125, 125, 0);
}

.tray {
    background-color: rgba(255, 255, 255, 0);
}
.tray menu {
    background-color: lightblue;
}

.bar_itself {
    /* background-color: red; */
    /* border: 1px solid white; */
    border-radius: 5px;
}

.bar_contents {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.battery {
    color: $main_light_color;
    background-color: rgba(255, 255, 255, 0);
}

.clock {
    background-color: $main_background_color;
    color: $main_text_color;
    border-radius: 5px;
    /* background-color: red; */
}

.debug_border {
    /* border: 3px solid lightblue; */
    /* margin: -3px; */
}

/* tiny extra bit of progressbar */
progressbar {
    background-color: $main_accent_color;
    /* border: 1px solid white; */
    border-radius: 5px;
}

/* background color of bar */
progressbar > trough {
    min-width: 45px;
    background-color: $main_accent_color;
    border: 0px;
    border-radius: 5px;
}

/* color of the actual progress */
progress {
    background-color: $main_text_color;
    border: 0px;
    min-width: 45px;
    border-radius: 5px;
}
