$color0_bg: #282828;
$color1_red: #cc241d;
$color2_green: #98971a;
$color3_yellow: #e6b77b;
$color4_blue: #458588;
$color5_purple: #b16286;
$color6_aqua: #689d6a;
$color7_gray: #a89984;
$color8_gray_alt: #928374;
$color9_red: #fb4934;
$color10_green: #b8bb26;
$color11_yellow: #fed078;
$color12_blue: #83a598;
$color13_purple: #d3869b;
$color14_aqua: #8ec07c;
$color15_fg: #ebdbb2;
